// button { 
//     margin: 10px; //! delete before push 
// }

//! Стилі для мобайл
@media screen and (min-width: 320px) {
    .load-btn,
    .search-btn,
    .trailer-btn, 
    .remind-btn {
            border: 1px solid;
            border-radius: 74px;
            padding: 12px 24px;
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 12px;  
            line-height: 14px;
            color: var(--black-bg);
            transition: color var(--transit);
            position: relative;
            z-index: 1000;
    }

    .load-btn::after,
    .search-btn::after,
    .trailer-btn::after,
    .remind-btn::after { 
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: var(--linear-one);
        transition: background-color var(--transit);
        border-radius: 74px;
        z-index: -1;
    }

    .load-btn::before,
    .search-btn::before,
    .trailer-btn::before,
    .remind-btn::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        background: var(--linear-one);
        border-radius: 74px;
        z-index: -2; 
    }

    .load-btn:hover, .load-btn:focus,
    .search-btn:hover, .search-btn:focus,
    .trailer-btn:hover, .trailer-btn:focus,
    .remind-btn:hover, .remind-btn:focus {
        color: var(--accent); 
        background: var(--white);
    }

    .remove-btn, .add-btn {
        padding: 12px 24px; 
        border: 1px solid;
        border-radius: 74px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: var(--white);
        transition: color var(--transit);
        position: relative;
        z-index: 1000;
    }   
    
    .remove-btn.day, .add-btn.day {
        color: var(--black-bg);
        transition: color var(--transit);
    }    

    .remove-btn::after, .add-btn::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: var(--black-bg);
        transition: background-color var(--transit);
        border-radius: 74px;
        z-index: -1;
    }

    .remove-btn.day::after, .add-btn.day::after {
        background-color: var(--white);
        transition: background-color var(--transit);
    }

    .remove-btn::before, .add-btn::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        background: var(--linear-one);
        transition: background var(--transit);
        border-radius: 74px;
        z-index: -2;
        }

    .remove-btn:hover, 
    .remove-btn:focus, 
    .add-btn:hover,
    .add-btn:focus 
     { 
        color: var(--accent);
    }

    .remove-btn:hover::before,
    .remove-btn:focus::before,
    .add-btn:hover::before,
    .add-btn:focus::before, 
    .remove-btn:hover::after,
    .remove-btn:focus::after,
    .add-btn:hover::after,
    .add-btn:focus::after, 
    .load-btn:hover::after,
    .search-btn:hover::after,
    .trailer-btn:hover::after,
    .remind-btn:hover::after, 
    .load-btn:focus::after,
    .search-btn:focus::after,
    .trailer-btn:focus::after,
    .remind-btn:focus::after { 
        background: var(--white);
    }

    .remove-btn.day:hover::after,
    .remove-btn.day:focus::after,
    .add-btn.day:hover::after,
    .add-btn.day:focus::after,
    .remove-btn.day:hover::before,
    .remove-btn.day:focus::before,
    .add-btn.day:hover::before,
    .add-btn.day:focus::before {
        background: var(--black-bg);
    }

    .switch {
        background:var(--linear-one);
        border-radius: 194px;
        border: 0px;
        width: 44px;
        height: 18px;
        padding-left: 2px;
        padding-right: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
    }

    .switch::after {
        content: '';
        display: block;
        width: 13.2px;
        height: 13.5px;
        background-color: var(--white);
        border: 0px;
        border-radius: 50%;
        position: absolute;
        right: 2px;
        z-index: 1;
        transition: transform var(--transit);
    }
   
    .icon-moon {
        position: absolute;
        left: 3px;
        width: 9.5px;
        height: 9.7px;
        z-index: 2;
        transition: transform var(--transit);
    }

    .icon-moon-line {
        width: 4px;
        height: 10px;
        position: absolute;
        z-index: 2;
        transform: translate(36px, 0);
        transition: transform var(--transit);
        transform: rotateY(0deg);
    }

    .not-active{
        visibility: hidden;
    }

    .switch.day::after {
        right: 0px; 
        transform: translateX(-29px);
    }

    .switch.day .icon-moon-line {
        right: 0px;
        transform: translate(-38px, 0px) rotateY(180deg);
    }

    .switch.day .icon-moon {
        transform: rotate(360deg);
        z-index: -1;
    }

    .icon-sun {
        position: absolute;
        width: 9.2px;
        height: 9px;
        right: 4px;
        top: 4.5px;
        z-index: -1;
        transition: transform var(--transit);
    }

    .switch.day .icon-sun {
        z-index: 2;
        transform: rotate(45deg);
    }
}
//! Стилі для таблета
@media screen and (min-width: 768px) {
    .load-btn,
    .search-btn,
    .trailer-btn, 
    .remind-btn {
        font-size: 14px;
        line-height: 16px;
    }

    .remove-btn, .add-btn {
        line-height: 16px;
    }    
    
    .switch {
        width: 60px;
        height: 24px;
    }

    .switch::after {
        width: 18px;
        height: 18px;
        right: 3px;
    }
   
    .icon-moon {
        width: 13px;
        height: 13px;
        left: 4px;
    }

    .icon-moon-line {
      height:14px; 
      transform: translate(50px, 0);
     }

    .switch.day::after {
      transform: translateX(-39px);
     }

     .switch.day .icon-moon-line {
      transform: translate(-52px, 0px) rotateY(180deg);
    }

     .switch.day .icon-moon {
      transform: rotate(360deg);
      z-index: -1;
     }

    .icon-sun {
        width: 14px;
        height: 14px;
        top: 5px;
    }
   
}
//! Стилі для десктопа
@media screen and (min-width: 1280px) {
    .load-btn,
    .search-btn
    {
        font-size: 18px;
        line-height: 28px;
    }
    .trailer-btn {
        font-size: 16px;
        line-height: 24px;
    } 
  
}
