.hero {
  position: relative;
}

.hero-container {
  overflow: hidden;
  position: relative;


  &__background-poster {
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0;
    right: 0;
  }

  &__background-image {
    z-index: -1;
    height: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;

    @media screen and (min-width: 768px) {
        background-position: 180px 0;
      }
    
    @media screen and (min-width: 1280px) {
      background-position: 278px 0;
    }
  }

  &__background-dark {
    width: 100%;
    height: 100%;
    background: linear-gradient(86.47deg, #111111 33.63%,
     rgba(17, 17, 17, 0) 76.86%);
    position: absolute;
    top: 0;
    right: 0;

    @media screen and (min-width: 768px) {
        background: linear-gradient(81.57deg, #111111 12.76%,
        rgba(17, 17, 17, 0) 72.65%);
        background-position: 175px 0;
      }
    
    @media screen and (min-width: 1280px) {
      background: linear-gradient 83.06deg,
        #111111 11.91%,
        rgba(17, 17, 17, 0) 73.11%;
      background-position: 275px 0;
    }
  }
  .hero-container__background-darker {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    background: var(--black-bg);
  }
  

  &__content {
    z-index: 1;
    width: 242px;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;

    @media screen and (min-width: 768px) {
      width: 445px;
    }

    @media screen and (min-width: 1280px) {
      width: 670px;
    }
  }

  &__background {
    height: 100%;
    padding: 0;
  }

  &__card {
    z-index: 1;
    width: 100%;
    height: 380px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      height: 372px;
      padding-left: 17px;
    }

    @media screen and (min-width: 1280px) {
      height: 660px;
      padding-left: 120px;
    }
  }

  &__content {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  &__content-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-bottom: 12px;
    font-style: normal;
    font-size: 32px;
    line-height: 1.19;

    @media screen and (min-width: 768px) {
      font-size: 44px;
      line-height: 1.18;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 18px;
      font-size: 64px;
      line-height: 1.17;
    }
  }

  &__description {
    width: 177px;
    line-height: 1.14;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 28px;
      width: 254px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 36px;
      width: 367px;
    }
  }

  &__btns {
    display: flex;
  }
}

.weekly-trends-rating {
  margin-bottom: 20px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 30px;
  }
}

.trailer-btn {
  margin-right: 8px;

  @media screen and (min-width: 1280px) {
    margin-right: 14px;
  }
}

.video-container {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-200%, 600%);
  z-index: 999;
}

.iframe {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 350px;
  border-radius: 10px;
  padding: 0px 30px 0px 30px;
  transition: var(--transit), visibility var(--transit);

  @media screen and (min-width: 768px) {
    height: 400px;
    width: 620px;
  }

  @media screen and (min-width: 1280px) {
    width: 800px;
    height: 450px;
  }
}

.basicLightbox__placeholder {
  position: fixed;
  z-index: 100;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.8);
}

.hero-container .weekly-trends-rating-body::before {
  font-size: 16px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}

.hero-container .weekly-trends-rating-active::before {
  font-size: 16px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}
