//! Стилі для мобайл
@media screen and (min-width: 320px) {
    .modal-pop-up-backdrop {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        transition: display var(--transit);
    }
    
    .modal-window {
        width: 280px;
        background: var(--black-bg);
        box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
        border-radius: 16px;
        padding: 52px 16px;
        transition: background var(--transit), box-shadow var(--transit);
        position: relative;
    }

    .modal-image {
        border-radius: 5px;
        margin-bottom: 22px;
        width: 248px;
        height: 315px;
    }

    .modal-title {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        line-height: 1.15;
        color: var(--white);
        margin-bottom: 29px;
        transition: color var(--transit);
    }

    .modal-list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 12px;
        margin-bottom: 4px;
    }

    .modal-list-item {
        display: flex;
        justify-content: space-between;
        padding-right: 16px;
    }

    .modal-item-name {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--light-gray);
    }

    .modal-item-value {
        width: 92px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--white);
        display: flex;
        justify-content: start;
    }

    .modal-vote,
    .modal-votes {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        text-transform: uppercase;
        color: var(--black-bg);
        padding: 1px 8px;
        background: var(--white);
        border-radius: 5px;
        border: 0px;
    }

    .modal-votes {
        padding: 1px 4px;
    }

    .modal-item-slash {
        margin-left: 7px;
        margin-right: 4px;
        width: 11px;
        display: flex;
        justify-content: center;
    }

    .modal-about-title {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--light-gray);
        margin-bottom: 12px;
    }

    .modal-about-description {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 12px;
        line-height: 1.66;
        color: var(--light-text);
        margin-bottom: 16px;
        max-height: 180px;
        overflow-y: scroll;
    }

    .modal-close-button {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 20px;
        right: 16px;
        border: 0px;
    }

    .modal-close-icon {
        width: 100%;
        height: 100%;
        stroke: var(--light-text);
        transition: stroke var(--transit);

    }

    body.is-light-mode {
        .modal-window {
            background: var(--white);
            box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);
        }

        .modal-close-icon {
            stroke: var(--dark);
        }

        .modal-title,
        .modal-item-name,
        .modal-about-title {
            color: var(--black-bg);
        }

        .modal-vote,
        .modal-votes {
        background-color: var(--light-text);
        color: var(--dark);
        }

        .modal-item-value,
        .modal-about-description {
        color: var(--dark);
        }

        .modal-item-slash {
            color: var(--light-gray);
        }
    }
}
//! Стилі для таблета
@media screen and (min-width: 768px) {
    .modal-window {
         width: 704px;
         padding: 44px 48px 44px 44px;
         display: flex;
         flex-wrap: wrap;
     }

    .modal-image {
        margin-bottom: 0;
        width: 294px;
        height: 400px;
        margin-right: 16px;
    }

    .modal-content-wrapper {
        max-width: 302px;
    }
    
    .modal-title {
        font-size: 24px;
        line-height: 1.16;
        margin-bottom: 26px;
    }
    
    .modal-list {
       margin-bottom: 20px;
    }

    .modal-list-item {
    padding-right: 0;
    }

    .modal-item-value {
        width: 162px;
    }
    
    .modal-about-title {
        margin-bottom: 16px;
    }
    
    .modal-about-description {
        max-height: 140px;
        margin-bottom: 24px;
    }
    
    .modal-close-button {
        top: 24px;
        right: 24px;
    }
}
//! Стилі для десктопа
@media screen and (min-width: 1280px) {
    .modal-window {
         width: 846px;
         padding: 60px;
     }

    .modal-image {
        width: 375px;
        height: 478px;
        margin-right: 20px;
    }

    .modal-content-wrapper {
        max-width: 331px;
    }
    
    .modal-title {
        line-height: 1.33;
        margin-bottom: 28px;
    }
    
    .modal-item-name, .modal-item-value {
        font-size: 16px;
        line-height: 1.18;      
    }

    .modal-vote, .modal-votes {
        font-size: 14px;
        line-height: 1.14;
    }

    .modal-item-value {
        width: 180px;
    }
    
    .modal-about-title {
        font-size: 16px;
        line-height: 1;
    }
    
    .modal-about-description {
        font-size: 14px;
        line-height: 1.43;
        max-height: 160px;
    }
    
    .modal-close-button {
        top: 40px;
        right: 40px;
    }
}
