@mixin tel {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin desktop-notification {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

body {
  &.is-light-mode {
    .library-content__section {
      .library-content__text {
        color: var(--black-bg);
      }
    }
  }
}

.herolib {
  padding: 40px 0px 28px;
  min-width: 320px;
  height: 380px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  /* Мобильные устройства */
  @media screen and (min-width: 480px) {
    height: 380px;
  }

  background-image: var(--linear-cinema), url('../images/cinema-mob.jpg');

  /* Устройства с retina-дисплеем */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: var(--linear-cinema), url('../images/cinema-mob-2x.jpg');
  }

  /* Планшеты */
  @media screen and (min-width: 768px) {
    padding-top: 62px;
    padding-left: 32px;
    height: 370px;
    background-image: var(--linear-cinema), url('../images/cinema-tab.jpg');

    /* Устройства с retina-дисплеем */
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--linear-cinema), url('../images/cinema-tab-2x.jpg');
    }
  }

  /* Настольные компьютеры */
  @media screen and (min-width: 1200px) {
    height: 660px;
    padding-top: 169px;
    padding-left: 117px;
    background-image: var(--linear-cinema), url('../images/cinema.jpg');

    /* Устройства с retina-дисплеем */
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--linear-cinema), url('../images/cinema-tab-2x.jpg');
    }
  }
}

.library-section {
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;

  @media screen and (min-width: 768px) {
    padding: 60px 32px;
  }

  @media screen and (min-width: 1280px) {
    padding: 169px 117px;
  }
}

.library-text__wrap {
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 80px;
  }
}

.library-header {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--white);
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 52px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 75px;
  }
}

.library-text {
  font-size: 14px;
  line-height: 16px;
  color: var(--light-text);
  width: 249px;

  @media screen and (min-width: 768px) {
    width: 357px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 19px;
    width: 464px;
  }
}
.is-hidden {
  display: none;
}

.gallery-hidden {
  display: none;
}

.library-content {
  margin-top: 40px;

  @include tablet {
    margin-top: 92px;
  }

  @include desktop {
    margin-top: 117px;
  }
}

.library-content__text {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: var(--white);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 32px;
    line-height: 1.12;
    margin-bottom: 28px;
  }
}

.library-btn {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #111111;
  background: var(--linear-one);
  border-radius: 74px;
  border: 1px solid;
  width: 123px;
  padding: 12px 24px;
  margin: 0 auto;
  transition: color 250ms var(--cubic), background 250ms var(--cubic);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 16px;
    width: 135px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.56;
    width: 160px;
  }

  &:hover {
    color: var(--accent);
    background: var(--white);
  }
}

// --  my-library Gallery styles -- //

.mylib-gallery {
  position: relative;
}

.catalog {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }

  &__card {
    position: relative;
    display: inline-block;
    color: aliceblue;

    cursor: pointer;

    transition: scale var(--transit);
    scale: 1;
    scale: 1;

    @include tablet {
      width: 224px;
      height: 325px;
    }

    @include desktop {
      width: 395px;
      height: 574px;
    }

    &:hover {
      scale: 1.03;
    }
  }

  &__img-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--bg-card-film);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  &__info {
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 256px;

    @include tablet {
      width: 206px;
    }

    @include desktop {
      left: 20px;
      width: 355px;
    }
  }
}

.info {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
  }

  &__title {
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    text-transform: uppercase;

    margin-bottom: 14px;

    @include tablet {
      font-size: 12px;
      line-height: 1.5;
    }

    @include desktop {
      font-size: 20px;
      line-height: 1.17;
    }
  }

  &__descr {
    color: var(--light-gray);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    position: relative;

    @include tablet {
      line-height: 1.5;
      font-size: 11px;
    }

    @include desktop {
      font-size: 20px;
      line-height: 1.17;
    }

    &:not(:last-child) {
      margin-right: 14px;
    }

    &:first-child::after {
      position: absolute;
      right: -7px;
      display: inline-block;
      content: '';
      height: 100%;
      width: 1px;
      background-color: rgb(255, 255, 255);
    }
  }
}

.catalog__stars-wrap {
  margin-right: 0px;
  width: 80px;
  height: 14px;
  font-size: 12px;
  position: relative;

  @include tablet {
    width: 66px;
    height: 10px;
    font-size: 10px;
  }

  @include desktop {
    width: 106px;
    height: 18px;
    font-size: 16px;
  }

  &::before {
    content: ' ★ ★ ★ ★ ★';
    display: block;
  }
}

.catalog__rating-active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  &::before {
    content: ' ★ ★ ★ ★ ★';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--brend-color);
  }
}
