/* Reset styles */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
address {
  list-style: none;
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  outline: transparent;
  border-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.main {
  flex-grow: 1;
}
