@import './common';
@import './header';
@import './home';
@import './fonts';
@import './reset';
@import './modal-oops';
@import './button';
@import './modal';
@import './my-library';
@import './footer';
@import './modal-team';
@import './hero-getstart';
@import './weekly';

:root {
  --accent: #f87719;
  --bg-mob-menu: #171717;
  --black-bg: #111111;
  --dark: #282828;
  --gray: #595959;
  --light-gray: #b7b7b7;
  --light-text: #f8f8f8;
  --white: #ffffff;
  --linear-one: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --linear-two: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );
  --transit: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --linear-cinema: linear-gradient(
    83.48deg,
    #0e0e0e 25.78%,
    rgba(14, 14, 14, 0) 60.07%
  );
  --box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
  --bg-card-film: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
}

body {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400;
  color: var(--light-text);
  background-color: var(--black-bg);
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1246px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
