@import './common';
@import './home';
@import './fonts';

:root {
  --accent: #f87719;
  --black: #111111;
  --dark: #282828;
  --gray: #595959;
  --light-gray: #b7b7b7;
  --light: #f8f8f8;
  --white: #ffffff;
  --linear-one: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --linear-two: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );
  //   --box-shadow: 1px 1px 14px rgba(1, 1, 1, 0.25);
}
