<button type="button" class="load-btn">Load more</button>
<button type="button" class="search-btn">Search movie</button>
<button type="button" class="trailer-btn">Watch trailer</button>
<button type="button" class="remind-btn">Remind me</button>
<button type="button" class="get-started-btn">Get Started</button>
<button type="button" class="more-details-btn">More details</button>
<button type="button" class="remove-btn">Remove from my library</button>
<button type="button" class="add-btn">Add to my library</button>
<button type="button" class="orange-add-btn">Add to my library</button>
<button type="button" class="switch">
  <svg class="icon-moon">
    <use href="/src/images/sprite.svg#icon-moon"></use>
  </svg>
  <svg
    class="icon-moon-line first"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
  >
    <path
      stroke="url(#a)"
      stroke-linecap="round"
      stroke-width="1.2"
      d="M.9982.9307C3.1094 3.2382 3.1015 6.988.9805 9.3063"
    />
    <defs>
      <linearGradient
        id="a"
        x1="1.1754"
        x2="3.9737"
        y1="1.5291"
        y2="2.1928"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="1" stop-color="#FFC226" />
        <stop offset="1" stop-color="#F84119" />
      </linearGradient>
    </defs>
  </svg>

  <svg class="icon-sun">
    <use href="/src/images/sprite.svg#icon-sun"></use>
  </svg>
</button>
<button type="button" class="global-search-btn">
  <svg class="search-icon">
    <use href="/src/images/sprite.svg#icon-search"></use>
  </svg>
</button>
