<section class="cards">
  <h2 class="hidden" aria-label="film cards">Film cards</h2>
  <div class="container container__catalog">
    <div class="search__form--container">
      <form class="search__form" id="search-form">
        <div class="search__form--wrapper">
          <input
            class="search__form--input"
            type="text"
            name="search"
            id="searchQuery"
            placeholder="Search"
            autocomplete="off"
          />
        </div>
        <button type="submit" class="global-search-btn">
          <svg class="search-icon">
            <use href="/src/images/sprite.svg#icon-search"></use>
          </svg>
        </button>
         <button
      type="button"
      class="catalog-cross-clear-btn catalog-cross-clear-btn-hide"
    >
      <svg
        class="icon-clear-btn"
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.25 11.25L0.75 0.75M11.25 0.75L0.75 11.25"
          
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
      </form>
    </div>
    <ul class="cards__list films" id="cards__list"></ul>
    <div class="cards__message hidden">
      <p class="cards__text">
        OOPS...<br />
        We are very sorry!<br />
        We don’t have any results due to your search.
      </p>
    </div>
  </div>
</section>
<div id="tui-pagination-container" class="tui-pagination"></div>
<div class="modal-pop-up-backdrop">

</div>

  </div>
</div>
