<header class="header">
  <div class="container">
    <div class="header__contener">
      <nav class="header__nav">
        <a class="header__nav-link js-logo-links" href="./index.html">
          <img
            class="header__nav-logo"
            src="/src/images/logotyp.png"
            alt="Logo Cinema"
          />
          <h2 class="header__nav-text">Cinemania</h2>
        </a>

        <button class="header__burger js-open-menu" type="button">Menu</button>
        <ul class="header__menu">
          <li>
            <a
              class="header__links js-header-links current-color"
              href="./index.html"
              >Home</a
            >
          </li>
          <li>
            <a class="header__links js-header-links" href="./catalog.html"
              >Catalog</a
            >
          </li>
          <li>
            <a class="header__links js-header-links" href="./mylibrary.html"
              >My Library</a
            >
          </li>
        </ul>
      </nav>
      <button type="button" class="switch">
        <svg class="icon-moon">
          <use href="/src/images/sprite.svg#icon-moon"></use>
        </svg>
        <svg
          class="icon-moon-line first"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
        >
          <path
            stroke="url(#a)"
            stroke-linecap="round"
            stroke-width="1.2"
            d="M.9982.9307C3.1094 3.2382 3.1015 6.988.9805 9.3063"
          />
          <defs>
            <linearGradient
              id="a"
              x1="1.1754"
              x2="3.9737"
              y1="1.5291"
              y2="2.1928"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FFC226" />
              <stop offset="1" stop-color="#F84119" />
            </linearGradient>
          </defs>
        </svg>
        <svg class="icon-sun">
          <use href="/src/images/sprite.svg#icon-sun"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<div class="backdrop hidden-menu">
  <div class="mob-menu js-menu-container">
    <div class="mob-menu__link">
      <a class="js-logo-links" href="./index.html">
        <img class="nav-logo" src="/src/images/logotyp.png" alt="Logo Cinema" />
      </a>
    </div>

    <ul class="mob-menu__nav">
      <li><a class="js-header-links current-color" href="./index.html">Home</a></li>
      <li><a class="js-header-links" href="./catalog.html">Catalog</a></li>
      <li><a class="js-header-links" href="./mylibrary.html">My Library</a></li>
    </ul>
  </div>
</div>
