<div class="modal-pop-up-backdrop">
    <div class="modal-window">
        <img class="modal-image" src="./images/children-mob.jpg" alt="" />
        <div class="modal-content-wrapper">
          <h2 class="modal-title">John Wick: Chapter 4</h2>
          <ul class="modal-list">
            <li class="modal-list-item">
              <p class="modal-item-name">Vote / Votes</p>
              <p class="modal-item-value">
                <span class="modal-vote">7.3</span
                ><span class="modal-item-slash">/</span>
                <span class="modal-votes">1260</span>
              </p>
            </li>
            <li class="modal-list-item">
              <p class="modal-item-name">Popularity</p>
              <p class="modal-item-value">100.2</p>
            </li>
            <li class="modal-list-item">
              <p class="modal-item-name">Genre</p>
              <p class="modal-item-value">Action Thriller Crime</p>
            </li>
          </ul>
          <h3 class="modal-about-title">About</h3>
          <p class="modal-about-description">
            John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the
            upcoming fourth instalment of the series. With the price on his head ever
            increasing, John Wick uncovers a path to defeating The High Table. But
            before he can earn his freedom, Wick must face off against a new enemy
            with powerful alliances across the globe and forces that turn old friends
            into foes.
          </p>
          <button type="button" class="add-btn">Add to my library</button>
          <button type="button" class="modal-close-button">
            <svg class="modal-close-icon">
              <use href="./images/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </div>
      </div>
</div>
