<div class="backdrop-modal team__backdrop--hidden">
    <div class="team__modal">
      <button class="team__modal--close close-modal-team">
        <svg class="team__icon team__icon--close" width="25" height="25">
          <use href="/src/images/modal-icon.svg#modal-close"></use>
        </svg>
      </button>
      <h1 class="team__title">DEVELOPERS</h1>
      <div class="team__box">
        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/Taras.jpg"
              alt="Team Lead"
            />
          </div>
          <p class="team__name">Taras</p>
          <p class="team__role">Team Lead</p>
        </div>
     
        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/Ivan.jpg"
              alt="Scrum Master"
            />
          </div>    
          <p class="team__name">Ivan </p>
          <p class="team__role">Scrum Master</p>
        </div>

        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/Roksolana Kushnir.jpg"
              alt="Ivan"
            />
          </div>    
          <p class="team__name">Roksolana Kushnir</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/Tetiana Kabanova.jpg"
              alt="Tetiana Kabanova"
            />
          </div>
          <p class="team__name">Tetiana Kabanova</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/Yuliia Romanovych.jpg"
              alt="Yuliia Romanovych"
            />
          </div>
          <p class="team__name">Yuliia Romanovych</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/Dmytro Atroshchenko.jpg"
              alt="Dmutro"
            />
          </div>
          <p class="team__name">Dmytro Atroshchenko</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/Oleksandr Pinchuk.jpg"
              alt="V"
            />
          </div>      
          <p class="team__name">Oleksandr Pinchuk</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/Maks Vynnychenko.jpg"
              alt=""
            />
          </div>   
          <p class="team__name">Maks Vynnychenko</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/Nataliya Rieger.jpg"
              alt="V"
            />
          </div>      
          <p class="team__name">Nataliya Rieger</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/Oleksii Chyshkevych.jpg"
              alt="V"
            />
          </div>      
          <p class="team__name">Oleksii Chyshkevych</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/Oleksandr Molchanets.jpg"
              alt="V"
            />
          </div>      
          <p class="team__name">Oleksandr Molchanets</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/g.jpeg"
              alt="V"
            />
          </div>      
          <p class="team__name">Volodymyr Karaniuk</p>
          <p class="team__role">Developer</p>
        </div>

        <div class="team__member">
          <div class="team__card">
            <img
              class="team__photo"
              src="/src/images/team/g.jpeg"
              alt="Oleksandr Tymoshenko"
            />
          </div>      
          <p class="team__name">Oleksandr Tymoshenko</p>
          <p class="team__role">Developer</p>
        </div>
      </div>
    </div>
  </div>
  