<div class="modal-oops-section">
    <div class="modal-oops-backdrop">
        <div class="modal-oops-card">
            <button type="button" class="modal-oops-close-btn">
            <svg class="modal-close-icon">
              <use href="./images/sprite.svg#icon-close"></use>
            </svg>
            </button>
            <h2 class="modal-oops-title">OOPS...<br> We are very sorry! <br>But we couldn't find the trailer.</h2>
            <picture class="modal-oops-img">
                <source srcset="./images/camera-desktop.png 1x, ./images/camera-desktop@2x.png 2x"
                    media="(min-width: 1280px)" />
                <source srcset="./images/camera-tablet.png 1x, ./images/camera-tablet@2x.png 2x"
                    media="(min-width: 768px) and (max-width: 1279px)" />
                <source srcset="./images/camera-mobile.png 1x, ./images/camera-mobile@2x.png 2x"
                    media="(max-width: 767px)" />
                <img src="./images/camera-mobile.png" alt="cinema" />
            </picture>
        </div>
    </div>
</div>