<button type="button" class="switch">
  <svg class="icon-moon">
    <use href="/src/images/sprite.svg#icon-moon"></use>
  </svg>
  <svg
    class="icon-moon-line first"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
  >
    <path
      stroke="url(#a)"
      stroke-linecap="round"
      stroke-width="1.2"
      d="M.9982.9307C3.1094 3.2382 3.1015 6.988.9805 9.3063"
    />
    <defs>
      <linearGradient
        id="a"
        x1="1.1754"
        x2="3.9737"
        y1="1.5291"
        y2="2.1928"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFC226" />
        <stop offset="1" stop-color="#F84119" />
      </linearGradient>
    </defs>
  </svg>
  <svg class="icon-moon-line second" width="4" height="14" fill="none">
    <path
      stroke="url(#a)"
      stroke-linecap="round"
      stroke-width="1.2"
      d="M1.1765 1.5742c2.879 3.0767 2.8681 8.0766-.0242 11.1676"
    />
    <defs>
      <linearGradient
        id="a"
        x1="1.4182"
        x2="5.2247"
        y1="2.3722"
        y2="3.2955"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFC226" />
        <stop offset="1" stop-color="#F84119" />
      </linearGradient>
    </defs>
  </svg>
  <svg class="icon-sun">
    <use href="/src/images/sprite.svg#icon-sun"></use>
  </svg>
</button>

<div class="modal-window">
  <img
    class="modal-image"
    src="./images/children-mob.jpg"
    alt=""
    width="248"
    height="315"
  />
  <h2 class="modal-title">John Wick: Chapter 4</h2>
  <ul class="modal-list">
    <li class="modal-list-item">
      <p class="modal-item-name">Vote / Votes</p>
      <p class="modal-item-value">
        <span class="modal-vote">7.3</span> /
        <span class="modal-votes">1260</span>
      </p>
    </li>
    <li class="modal-list-item">
      <p class="modal-item-name">Popularity</p>
      <p class="modal-item-value">100.2</p>
    </li>
    <li class="modal-list-item">
      <p class="modal-item-name">Genre</p>
      <p class="modal-item-value">Action Thriller Crime</p>
    </li>
  </ul>
</div>
