<section class="upcoming">
  <div class="home-upcoming-container" id="upcomingMoviesSection">
    <div class="home-upcoming-left">
      <h2 class="upcoming-title">Upcoming this month</h2>
      <div class="home-upcoming-img">
        <img
          id="upcomingPosterPath"
          class="upcoming-film-img"
          src="#"
          alt="Movie poster"
        />
      </div>
    </div>
    <div class="home-upcoming-right">
      <h3 id="upcomingFilmTitle" class="upcoming-film-title"></h3>
      <div class="home-upcoming-description">
        <div class="upcoming-description-left">
          <div class="home-upcoming-wrap">
            <p class="upcoming-text">Release date</p>
            <p class="upcoming-text">Vote / Votes</p>
          </div>
          <div class="home-upcoming-wrap">
            <p id="upcomingDate" class="upcoming-date"></p>
            <p class="upcoming-vote">
              <span id="upcomingVoteAverage" class="upcoming-average"></span>
              /
              <span id="upcomingVoteCount" class="upcoming-count"></span>
            </p>
          </div>
        </div>
        <div class="upcoming-description-right">
          <div class="home-upcoming-wrap">
            <p class="upcoming-text">Popularity</p>
            <p class="upcoming-text">Genre</p>
          </div>
          <div class="home-upcoming-wrap">
            <p id="upcomingPop" class="upcoming-pop"></p>
            <p id="upcomingGenre" class="upcoming-genre"></p>
          </div>
        </div>
      </div>
      <div class="home-upcoming-about">
        <p class="upcoming-film-about">About</p>
        <p id="upcomingAbout" class="upcoming-film-description"></p>
      </div>
      <div class="home-upcoming-btn">
        <button id="upcomingBtn" type="button" class="orange-add-btn">
          Add to my library
        </button>
      </div>
    </div>
  </div>
  <div id="upcomingEmptySection" class="upcoming-oops-container hidden">
    <p class="upcoming-oops-title">Upcoming this month</p>
    <p class="upcoming-oops">
      OOPS...<br />We are very sorry!<br />We don't have any movies which are
      upcoming at this month.
    </p>
  </div>
</section>
